ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */


p {
  color: red;
}

/* Class selector */
.note{
  font-size: 20px
}

/* id selector*/
#id-selector-demo{
  color: green;
}


/* Selecting by element*/
ol{
  color: blue;
}

/* universal selector */
* {
  text-align: center;
}